.skills{
    background-color: #202020;
}
@media (max-width: 768px){
    .hello2{
        margin-left:22% ;
    }
    .he{
        margin-left:22% ;
    }
    .div5{
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
}
@media (max-width:320px){
  
       .skills{
        align-items: self-end;
       }
        .div2 {
            display: flex;
            justify-content: flex-end;
        }
        .hello1, .hello2, .he {
            text-align: left;
            margin-left: 20px; /* Adjust the left margin as needed */
            margin-right: 0px; /* Adjust the right margin as needed */
        }
        
    .hello3{
        margin-left: 10px;
    }
    .div1 p{
        margin-right: 5rem;
    }
    .div3{
        display: inline;
    }
    .text1{
        margin-left: 10px;
    }
    .text3{
        margin-left: 17px;
    }
    .div4{
        margin-left: 10px;
    }
    .div5{
        margin-left: 50px;
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
}